@model IEnumerable<Videoteka.Models.Film>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Filmovi</h2>

@if (!Model.Any())
{
    <p>Nemamo Filmova</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Filmovi</th>
                <th>Zanr</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var filmovi in Model)
            {
                <tr>
                    <td>@Html.ActionLink(filmovi.Naziv, "Detalji", "Film", new { id = filmovi.Id }, null)</td>
                    <td>@filmovi.Zanr.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
